.edge-dashboard-check/
.edge-dashboard-profile/
.vscode/
**/.idea/

qlky-admin/node_modules/
qlky-admin/dist/
qlky-admin/.env
qlky-admin/*.log
qlky-admin/logs/

qlky-api/target/
qlky-api/logs/
qlky-api/*.log
qlky-api/data/
qlky-api/backup/
qlky-api/src/main/resources/private.yml

file/temp/
**/__pycache__/
*.py[cod]
